body {
  font-family: 'News Cycle', sans-serif;
}

h1, h2, .heading {
  color: red;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: u(2);
  line-height: 1.5;
  margin: 0;
  margin-bottom: u(2);
}