body {
  font-family: 'News Cycle', sans-serif;
}

h1, h2, .heading {
  font-family: 'Lobster', cursive;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: u(3);
  line-height: 1;
  margin: 0;
  margin-bottom: u(3);
}